*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.page{
	max-width: 50%;
	margin-left: 30%;
	background-color: #ffffff;
	padding: 0.3em;
	
}
body{
	background-color: #000000;
	
}
li, a{
	list-style: none;
	text-decoration: none; color:#8c8888;

}
/******************section fellows*/
.titre1{
	font-size: 1.5em;
	text-align: center;
	color: #8c8888;
	padding: 1.5em;
}
.container{
	text-align: center;
}
.portrait{
	display: inline-block;
	background-color: #f5f5f5;
	height: 20em;
	margin-left: 3em;
	width: 25%;	
}
/********************************** NAV ***************/
.nav-fellows, .nav-find, .nav-contact{
	display:inline;
}
.nav{
	background-color: #454343;
	align-items: center;
	color: #8c8888;
	font-size: 1.3em;
	border: solid;
	border-width: 0.05em;
}
.nav-fellows{	
	font-size: 0.8em;
	padding-left: 0.5em;
}
.nav a:hover{
	background-color: #f5f5f5;
}
.nav-find{
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-right:0.3em; 
}
.nav-contact{
	padding-left: 0.6em;
	padding-top: 0.2em;	
}
/********************************** carousel*/
.carousel{
	background-color: #f5f5f5;
	height: 200px;
}
/**********************************section contact*/
.titre2{
	color: #8c8888;
	padding: 0.7em 0em 1em 0.7em;
}
input{
	margin-bottom: 1em;
	padding: 0.2em;
	display:block;
}
.contact{
	color: #8c8888;
	margin-left: 20%;
	margin-right: 4em;
	overflow: auto;
	width: 60%;
}
.text{
	width: 100%;
}
.mail, .tel, .message{
	border: solid;
	border-color: #2b2a2a;
	border-width: 0.08em; 
	width: 100%;
}
/****************section article*/
.article{
	margin: 6em;
}
